src/main/mule/weather-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="551e0276-dac8-4db8-9f36-10805a374e51" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="c47dce06-0620-4e4e-93a9-eda427308dd1" />
	<http:request-config name="HTTP_Request_weather" doc:name="HTTP Request configuration" doc:id="597ae377-cd74-48d4-8a7c-0106b04b1071" >
		<http:request-connection protocol="HTTPS" host="weatherapi-com.p.rapidapi.com" />
	</http:request-config>
	<flow name="weather-apiFlow" doc:id="2b711849-c8f2-4fee-bf18-e8e1f7fd0834" >
		<http:listener doc:name="Listener" doc:id="b9796a99-b1b8-43ff-aa63-37cc472253d6" config-ref="HTTP_Listener_config" path="/weather"/>
		<http:request method="GET" doc:name="Request" doc:id="b6e2420c-3bf5-46e0-9079-14de7b5dad20" config-ref="HTTP_Request_weather" path="/current.json">
			<http:headers ><![CDATA[#[output application/java
---
{
	"X-RapidAPI-Host" : "weatherapi-com.p.rapidapi.com",
	"X-RapidAPI-Key" : "43453ceed8msh694c156d8c1486cp1683e4jsn6f5e0c111c75"
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"q" : "Paris"
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="6cee55dd-b6eb-4ade-b68b-fcc61699ef8d" message="#[payload]"/>
	</flow>
</mule>
